body {
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
}

.header {
    height: 200px;
    background-color: white;
}

.main {
    background-color: aliceblue;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.3fr 1fr;
}

.footer {
    background-color: aliceblue;
}

button {
    background-color: aliceblue;
    border: none;
    font-size: 50px;
    width: 300px;
    border-radius: 3px;
    margin-left: 700px;
}

button:hover {
    background-color: lightgrey;
    cursor: pointer;
}

.inputForm {
    border: solid black 2px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1 fr 1fr 1fr;
    height: 400px;
    width: 400px;
    border-radius: 3px;
    padding: 3px;
    grid-row-start: 2;
    grid-column-start: 2;
}

.inputForm input {
    height: 20px;
    width: 150px;
}